<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Informations Étudiant</title>
</head>
<body>
    <h1>Ajouter Informations Étudiant</h1>
    <form id="studentForm" action="{% url 'enregistrer_info_étudiant' %}" method="post">
        {% csrf_token %}
        <label for="cin">CIN :</label>
        <input type="text" id="cin" name="cin" required><br><br>
        
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>
        
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br><br>
        
        <label for="moyenne">Moyenne :</label>
        <input type="number" id="moyenne" name="moyenne" required><br><br>
        
        <label for="ville">Ville :</label>
        <input type="text" id="ville" name="ville" required><br><br>
        
        <label for="niveau">Niveau :</label>
        <input type="text" id="niveau" name="niveau" required><br><br>
        
        <label for="telephone">Téléphone :</label>
        <input type="tel" id="telephone" name="telephone" required><br><br>
        
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="linkedin">LinkedIn :</label>
        <input type="url" id="linkedin" name="linkedin"><br><br>

        <label for="préférence">préférence :</label>
        <input type="text" id="préférence" name="préférence"><br><br>
        
        <button type="submit">Ajouter</button>
    </form>

    <form action="{% url 'gérer_info_étudiant' %}" method="get">
        <button type="submit">Terminer l'ajout</button>
    </form>

</body>
</html>
