<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPFE</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .userInput {
            text-align: right;
            color: blue;
            margin: 5px 0;
        }
        .botText {
            text-align: left;
            color: green;
            margin: 5px 0;
        }
        .sidebar.collapsed {
            width: 4rem; /* 16 (4*4) */
        }
        .sidebar.expanded {
            width: 20rem; /* 80 (20*4) */
        }
        .sidebar-content {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
        }
        .sidebar.expanded .sidebar-content {
            opacity: 1;
            pointer-events: auto;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .tooltip .fa-chevron-right {
            transition: transform 0.3s;
        }
        .sidebar.expanded .fa-chevron-right {
            transform: rotate(180deg);
        }
        .dark-mode input[type="text"] {
            background-color: #1d1c1c;
        }
    </style>
</head>
<body class="font-roboto m-0 p-0 overflow-hidden light-mode transition-all duration-300">
    <div class="sidebar w-16 h-screen bg-gray-800 fixed top-0 left-0 z-10 overflow-hidden transition-all duration-300 collapsed">
        <div class="tooltip relative">
            <span class="tooltiptext bg-black text-white text-center rounded-lg p-2 absolute bottom-36 left-1/2 transform -translate-x-1/2">
                Open Sidebar
            </span>
            <button id="sidebar-toggle" class="bg-transparent mt-96 absolute top-0 left-full transform -translate-x-full transition-transform duration-300">
                <i class="fas fa-chevron-right text-white"></i>
            </button>
        </div>
        <div class="sidebar-content pt-5">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="new-conversation-btn" class="bg-gray-700 text-white border-none py-2 px-4 rounded-md cursor-pointer hover:bg-gray-600 transition-colors duration-300" type="submit" class="btn btn-primary">
                    Déconnexion
                </button>
            </form>
        </div>
    </div>
    <div class="chat-container w-[calc(100%-4rem)] h-screen ml-16 overflow-hidden transition-all duration-300 light-mode">
        <div class="chat-content flex flex-col h-full">
            <div class="chat-header flex items-center justify-between px-4 py-2 bg-gray-200 text-black transition-colors duration-300">
                <div class="logo-container flex items-center">
                    <h1 class="text-gray-700 font-trebuchet">ChatPFE</h1>
                </div>
                <div class="mode-toggle flex items-center">
                    <label class="switch relative inline-block w-10 h-5">
                        <input type="checkbox" id="mode-toggle-checkbox" class="opacity-0 w-0 h-0">
                        <span class="slider round absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-gray-400 rounded-full transition duration-300"></span>
                        <span class="slider round absolute left-1 bottom-1 w-3 h-3 bg-white rounded-full transition-transform duration-300"></span>
                    </label>
                </div>
            </div>
            <div class="chatpfe flex-1 overflow-y-auto p-4 bg-white text-black" id="chatpfe"></div>
            <div class="input-container flex p-4 border-t border-gray-300">
                <input type="text" id="user-input" placeholder="Tapez votre message ici..." class="flex-1 p-2 rounded-md border border-gray-300 outline-none">
                <button type="submit" id="buttonInput" class="p-2 border border-gray-300 bg-gray-700 text-white ml-2 rounded-md cursor-pointer transition-colors duration-300 hover:bg-gray-600">
                    <b>&uarr;</b>
                </button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebarToggle = document.getElementById("sidebar-toggle");
            const modeToggle = document.getElementById("mode-toggle-checkbox");
            const sidebar = document.querySelector(".sidebar");
            const chatContainer = document.querySelector(".chat-container");
            const chatHeader = document.querySelector(".chat-header");
            const chatBox = document.getElementById("chatpfe");
            const userInput = document.getElementById("user-input");
    
            modeToggle.addEventListener("change", () => {
                document.body.classList.toggle("dark-mode");
                chatContainer.classList.toggle("bg-gray-800");
                chatContainer.classList.toggle("bg-white");
                chatHeader.classList.toggle("bg-gray-900");
                chatHeader.classList.toggle("bg-gray-200");
                chatHeader.classList.toggle("text-white");
                chatHeader.classList.toggle("text-black");
                chatBox.classList.toggle("bg-gray-800");
                chatBox.classList.toggle("bg-white");
                chatBox.classList.toggle("text-white");
                chatBox.classList.toggle("text-black");
                userInput.classList.toggle("bg-gray-800");
                userInput.classList.toggle("bg-white");
                userInput.classList.toggle("text-white");
                userInput.classList.toggle("text-black");
            });
    
            sidebarToggle.addEventListener("click", function () {
                if (sidebar.classList.contains("collapsed")) {
                    sidebar.classList.remove("collapsed");
                    sidebar.classList.add("expanded");
                    chatContainer.style.width = "calc(100% - 20rem)";
                    chatContainer.style.marginLeft = "20rem";
                } else {
                    sidebar.classList.remove("expanded");
                    sidebar.classList.add("collapsed");
                    chatContainer.style.width = "calc(100% - 4rem)";
                    chatContainer.style.marginLeft = "4rem";
                }
            });
    
            $('#buttonInput').click(function() {
                var userQuestion = $('#user-input').val();
                if (userQuestion.trim() === "") {
                    alert("Veuillez entrer un message.");
                    return;
                }
                var userHTML = "<p class='userInput'>User: <span>" + userQuestion + "</span></p>";
                $('#user-input').val("");  // Effacer le champ de saisie
                $('#chatpfe').append(userHTML);
    
                // Envoyer la question à la vue getResponse et afficher la réponse du chatbot
                $.get('/ChatPFE/getResponseEnca/', { userQuestion: userQuestion })
                .done(function(data) {
                    console.log("Réponse du serveur : ", data);  // Ajoutez cette ligne
                    if (data && data.response) {
                        var botMessage = "<p class='botText'>ChatPFE: <span>" + data.response + "</span></p>";
                        $('#chatpfe').append(botMessage);
                    } else {
                        var botMessage = "<p class='botText'>ChatPFE: <span>Je ne suis pas sûr de comprendre la question.</span></p>";
                        $('#chatpfe').append(botMessage);
                    }
                })
                .fail(function() {
                    var botMessage = "<p class='botText'>ChatPFE: <span>Erreur de communication avec le serveur.</span></p>";
                    $('#chatpfe').append(botMessage);
                });

            });
        });
    </script>
    
</body>
</html>
