<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Étudiants</title>
    <script>
    function confirmerSuppression(cinEtud) {
        if (confirm("Êtes-vous sûr de vouloir supprimer cet responsable ? Cette action est irréversible.")) {
            document.getElementById('form-supprimer-' + cinEtud).submit();
        }
    }
    </script>
</head>
<body>
    <h1>Liste des responsable</h1>

    <form action="{% url 'gérer_ques_resp' %}" method="get">
        <button type="submit">Gérer Questions/Réponses</button>
    </form>

    <form action="{% url 'list_etudiants' %}" method="get">
        <button type="submit">Gérer Étudiant</button>
    </form>

    <form action="{% url 'list_encadrants' %}" method="get">
        <button type="submit">Gérer Encadrant</button>
    </form>

    <form action="{% url 'gérer_profil' %}" method="get">
        <button type="submit">Gérer Profil</button>
    </form>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Déconnexion</button>
    </form>


    <table border="1">
        <tr>
            <th>CIN</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Actions</th>
        </tr>
        {% for responsable in responsables %}
        <tr>
            <td>{{ responsable.cin }}</td>
            <td>{{ responsable.nom }}</td>
            <td>{{ responsable.prenom }}</td>
            <td>
                <a href="{% url 'mod_resp_ad' responsable.cin %}">
                    <button>Modifier</button>
                </a>
                <button onclick="confirmerSuppression('{{ responsable.cin }}')">Supprimer</button>
                <form id="form-supprimer-{{ responsable.cin }}" method="post" action="{% url 'delete_responsable' responsable.cin %}" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="cin" value="{{ responsable.cin }}">
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Aucun responsable trouvé.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
