<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPFE</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-gray-300 to-gray-200 flex items-center justify-center h-screen">
    <div class="container bg-white rounded-3xl shadow-lg overflow-hidden w-full max-w-md mx-auto py-8">
        <div id="choice-container" class="text-center">
            <h1 class="text-3xl font-bold text-gray-800 mb-8">Choix du Chat</h1>
            <div class="flex justify-center space-x-4">
                <form action="{% url 'responsable' %}" method="get">
                    <button class="bg-blue-500 hover:bg-blue-600 text-white text-sm px-8 py-3 rounded-lg font-semibold uppercase transition-colors duration-300 ease-in-out">Login Responsable</button>
                </form>
                <form action="{% url 'utilisateur' %}" method="get">
                    <button id="btn-user" class="bg-blue-500 hover:bg-blue-600 text-white text-sm px-8 py-3 rounded-lg font-semibold uppercase transition-colors duration-300 ease-in-out">Login Utilisateur</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
